*{
  margin: 0;
  font-family: Arial;
  box-sizing: border-box;
}
.navbar{
  height: 60px;
  background-color:#0f1111 ;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.nav-logo{
  height: 50px;
  width: 100px;
}
.logo{
background-image: url("Amazon-Logo-White-PNG-Image.png");
background-size: contain;
background-repeat: no-repeat;
background-position: center;
height: 50px;
width: 100%;
}
.border{
  border: 2px solid transparent;
}
.border:hover{
  border: 1.5px solid white;
}
/* for box2 */
.first{
  color:rgb(204,204,204);
  font-size: 0.85rem;
  margin-left: 15px;
}
.second{
font-size: 1rem;
  margin-left: 3px;
}
.add-icon{
  display: flex;
}

/* .....box3..... */

.nav-search{
  display: flex;
width: 620px;
height: 40px;
border-radius: 4px;


}
.nav-search:hover{
  border: 2px solid orange;
}

.search-icon{
   background-color:#febd68; 
 border-radius: 4px;
 width: 45px;
 height: 100%;
 display: flex;
 justify-content: center;
 align-items: center;
 font-size: 1rem;
 border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  color: #0f1111;
}
.nav-select{
  background-color: #f3f3f3;
  width: 50px;
  height: 100%;
  text-align: center;
  border-radius: 4px;
  border: none;

}
.search-input{
  width: 550px;
  height: 100%;
  font-size: 1rem;
  border: none;

}


/* ......BOX4..... */
spam{
  font-size: 0.75rem;

}
.sign-second{
  font-size: 0.85rem;
  font-weight: 700;
}


/* ......BOX5..... */

.nav-cart i{
font-size: 30px;
}
.nav-cart{
  font-size: 0.85rem;
  font-weight: 700;
}


/* ......panel..... */
.panel{
  height: 40px;
  background-color: #222f3d;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.panel-option p{
display: inline;
color: #f3f3f3;
margin: 15px;
}
.panel-all{
  color: #f3f3f3;
}
.panel-detiles p{
  color: #f3f3f3;
}
.panel-option{
width: 70%;
font-size: 0.9rem;
}
.panel-detiles{
  font-size: 0.85rem;
  font-weight: 700;
}


/* ......hero-section..... */
.hero-section{
 background-image: 
  url(amazon.hero1.png),
  url(boxa.png);


  height: 350px;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.hero-massage{
  background-color: #f3f3f3;
  color: #0f1111;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.85rem;
  width: 95%;
  margin-bottom: 25px;
}
.hero-massage a{
  color: #007185;
}


/* ...sopping-section..... */

.box{
/* border: 2px solid black; */
height: 400px;
width: 23%;
background-color: #f3f3f3;
padding: 20px 0px 15px;
margin-top: 15px;
}
.shopping-section{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: rgb(84, 161, 129);
}
.shop-image{
  height: 300px;
  background-size: cover;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.box-content{
  margin-left: 10px;
  margin-right: 10px;
}


      /* footer */
   
      .foot-panel1{
        background-color: #37475a;
        color: white;
              margin-top: 35px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 0.85rem;
      }
      .foot-panel2{
        background-color: #222f3d;
        color: #f3f3f3;
        height: 300px;
        display: flex;
        justify-content: space-evenly;
      }
      ul{
        margin-top: 20px;
      }
      ul a{
        display: block;
        font-size: 0.85rem;
        margin-top: 10px;
        color: #dddddd;
      }
      .foot-panel3{
        background-color: #222f3d;
        color: #f3f3f3;
        border: 0.5px solid white;
        height: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
.panel-logo{
  background-image: url("Amazon-Logo-White-PNG-Image.png");
  background-size: cover;
  height: 50px;
  width: 150px;
}
.foot-panel4{
  background-color: #0f1111;
  color: #f3f3f3;
  height: 80px;
  
  /* display:flex ;
  justify-content: center;
  text-align: center; */
}
.pages{
  font-size: 0.7rem;
text-align: center;
padding-top: 25px;
}

.copy{
  font-size: 0.7rem;
  text-align: center;
  padding-top: 0.5px;
}

/* ========================================
   MEDIA QUERIES - RESPONSIVE DESIGN
   ======================================== */

/* Large Tablets and Small Laptops (1024px and below) */
@media screen and (max-width: 1024px) {
  .nav-search {
    width: 400px;
  }
  
  .search-input {
    width: 320px;
  }
  
  .box {
    width: 48%;
  }
  
  .panel-option {
    width: 65%;
    font-size: 0.8rem;
  }
  
  .panel-option p {
    margin: 10px;
  }
}

/* Tablets (768px and below) */
@media screen and (max-width: 768px) {
  .navbar {
    height: auto;
    flex-wrap: wrap;
    padding: 10px;
  }
  
  .nav-logo {
    width: 80px;
    height: 40px;
  }
  
  .logo {
    height: 40px;
  }
  
  .nav-search {
    width: 100%;
    margin-top: 10px;
    order: 3;
  }
  
  .search-input {
    width: calc(100% - 95px);
  }
  
  .add-icon .first,
  .add-icon .second {
    font-size: 0.75rem;
  }
  
  .panel {
    height: auto;
    padding: 10px 5px;
    flex-wrap: wrap;
  }
  
  .panel-option {
    width: 100%;
    text-align: center;
  }
  
  .panel-option p {
    margin: 5px;
    font-size: 0.75rem;
  }
  
  .panel-detiles {
    width: 100%;
    text-align: center;
    margin-top: 5px;
  }
  
  .hero-section {
    height: 250px;
  }
  
  .box {
    width: 48%;
    height: 350px;
  }
  
  .shop-image {
    height: 250px;
  }
  
  .foot-panel2 {
    height: auto;
    flex-wrap: wrap;
    padding: 20px 10px;
  }
  
  .foot-panel2 ul {
    width: 45%;
    margin: 10px;
  }
}

/* Mobile Devices (480px and below) */
@media screen and (max-width: 480px) {
  .navbar {
    justify-content: space-between;
    padding: 10px 5px;
  }
  
  .nav-logo {
    width: 70px;
    height: 35px;
  }
  
  .logo {
    height: 35px;
  }
  
  .add-icon {
    display: none;
  }
  
  .first, .second {
    font-size: 0.7rem;
    margin-left: 5px;
  }
  
  .nav-search {
    width: 100%;
    height: 35px;
  }
  
  .nav-select {
    width: 40px;
    font-size: 0.75rem;
  }
  
  .search-input {
    width: calc(100% - 85px);
    font-size: 0.85rem;
  }
  
  .search-icon {
    width: 40px;
    font-size: 0.9rem;
  }
  
  spam {
    font-size: 0.65rem;
  }
  
  .sign-second {
    font-size: 0.75rem;
  }
  
  .nav-cart i {
    font-size: 24px;
  }
  
  .nav-cart {
    font-size: 0.75rem;
  }
  
  .panel-option p {
    margin: 3px;
    font-size: 0.7rem;
  }
  
  .panel-detiles {
    font-size: 0.75rem;
  }
  
  .hero-section {
    height: 180px;
  }
  
  .hero-massage {
    font-size: 0.75rem;
    height: 35px;
    margin-bottom: 15px;
  }
  
  .box {
    width: 100%;
    height: 380px;
    margin-top: 10px;
  }
  
  .shop-image {
    height: 280px;
  }
  
  .foot-panel1 {
    font-size: 0.75rem;
    height: 40px;
  }
  
  .foot-panel2 {
    flex-direction: column;
    padding: 15px;
  }
  
  .foot-panel2 ul {
    width: 100%;
    margin: 10px 0;
  }
  
  .foot-panel2 ul a {
    font-size: 0.8rem;
  }
  
  .panel-logo {
    height: 40px;
    width: 120px;
  }
  
  .foot-panel3 {
    height: 60px;
  }
  
  .pages, .copy {
    font-size: 0.65rem;
    padding: 5px;
  }
}

/* Extra Small Mobile Devices (360px and below) */
@media screen and (max-width: 360px) {
  .navbar {
    padding: 8px 3px;
  }
  
  .nav-logo {
    width: 60px;
    height: 30px;
  }
  
  .logo {
    height: 30px;
  }
  
  .first, .second {
    font-size: 0.65rem;
  }
  
  .nav-search {
    height: 32px;
  }
  
  .search-input {
    font-size: 0.8rem;
  }
  
  .box {
    height: 360px;
  }
  
  .shop-image {
    height: 260px;
  }
  
  .panel-logo {
    height: 35px;
    width: 100px;
  }
}